.welcome-logo {
  height: 108px;
  width: 192px;
  align-self: center;
}

.welcome h2 {
  font-size: 3.5em;
  max-width: 800px;
}
.welcome p {
  margin-top: 30px;
  line-height: 2em;
  color: #777;
}

.welcome-header-section {
  display: flex;
  width: 100%;
}
