.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #7d94b5;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 60px;
}

.header h1 {
  margin: 0;
  color: white;
  font-size: 2rem;
}
