@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body {
  margin: 0;
  font-family: "Poppins";
  background-color: #b4b3a8;
}
ul,
li {
  padding: 0;
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: minmax(50px, auto);
  column-gap: 30px;
}

.header-section {
  grid-column: span 3;
  border-bottom: 1px solid #ddd;
}

.nav-section {
  background-color: #b6c199;
  border-right: 1px solid #ddd;
}

.main-section {
  padding: 30px;
  min-height: 800px;
}

.aside-section {
  background-color: #c29591;
  border-left: 1px solid #ddd;
}

.footer-section {
  background-color: #703f37;
  grid-column: span 3;
  border-top: 1px solid #ddd;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .nav-section {
    grid-column: span 3;
    border-right: 0;
    border-bottom: 1px solid #ddd;
  }
  .main-section {
    grid-column: span 2;
  }
}

@media screen and (max-width: 980px) {
  .nav-section,
  .main-section,
  .aside-section {
    grid-column: span 3;
  }
  .main-section {
    min-height: 200px;
  }
  .aside-section {
    border-left: 0;
    border-top: 1px solid #ddd;
  }
}
